.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  color: #fff;
}

.main {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
